In [2]:
#printing 0 to 19 using for loop and range fucntion
for i in range(0,20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
from os import waitid_result
# we can also print in soecific range by ( start ,stop, increment)
for w in range(10,21,2):
  print(w)

10
12
14
16
18
20

In [5]:
l=[12,34,45,66,77,19,25,55,33,22,11]
print(len(l))

9

In [7]:
# printing odd number in the list:
for o in l:
  if o % 2 != 0:
    print('odd number',o)

odd number 45
odd number 77
odd number 55
odd number 33
odd number 11

In [9]:
for e in l:
  if e%2==0:
    print('even number',e)

even number 12
even number 34
even number 66
even number 22